ul {
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.11px;
    line-height: 25px;
}

h3,
h4 {
    margin: 0;
    font-weight: normal;
}