// text color
$primary_color:#24126a;
$bluish:#171b50;
$purple:#4f2483;
$white: #ffffff;
$black_russian:#1d1d1e;
$quartz: #ded9f8;
$raven: #6a7179;
$black_pearl:#252728;
$shuttle_grey: #576471;
$redical_red:#fa2e57;
$nero:#1c1b1b;
$eclipse:#3c3c3c;
$text_color_ten:#fa2952;
$blue_whale:#122d48;
$nobel:#a2a2a2;
$cloud_burst: #363d50;
$rock_blue: #969fb0;
$steel_grey: #3c4149;
$grey: #7f7c7c;
$text_color_seventeen:#1e1d1d;
$dark_greyish: #413f3f;
$dim_gray: #6b6969;
$dark_choci:#262525;
$swamp: #303131;
$storm_grey:#7a7e82;
$amaranth: #f42851;
$storm_greyish: #7c7d8d;
$oxford_blue: #263035;
$sapphire: #0d2763;
$white_smoke:#f5f5f5;
$light_purple:#563299;
$blackish: #1c1b1b;
// font family
$font_poppins: Poppins;
$font_circular:"Circular Std Medium";
$font_candara: Candara;
$font_open_sans:"Open Sans";
$font_arial:Arial;
$font_sf_ui: "SF UI Display";
// fontweight
$font-light: 400;
$font-thick: 500;
$font-heavy: 600;
$autoMargin: 0px auto;
// line height
$heightTwentysix:26px;
// font size
$product-font-size-12: 12px;
$product-font-size-14: 14px;
$product-font-size-18: 18px;
$product-font-size-21: 21px;
$product-font-size-36: 36px;
$product-character-spacing-0: 0px;
$product-line-spacing-14: 14px;
$product-line-spacing-28: 28px;
$product-line-spacing-40: 40px;
//opacity
$pointeightopacity:0.8;